@import url(../fonts/stylesheet.css);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}





/* Slider
----------------------------------*/
.ui-slider {
position:relative;
text-align:left;
background: #d3d5d8;
margin: 10px 0 40px;
}

.ui-slider .ui-slider-handle {
position:absolute;
z-index:2;
cursor:default;
background: #fff;
border: 10px solid #000;
border-radius: 20px;
width: 10px;
height: 10px;
	outline: none !important;
}

.ui-slider .ui-slider-range {
position:absolute;
z-index:1;
font-size:1%;
display:block;
border:0;
background: #c66;
border-radius: 3px;
}

.ui-slider .ui-slider-handle.ui-state-hover{
}
.ui-slider .ui-slider-handle.ui-state-active{
}

.ui-slider-horizontal { height: 10px; border-radius: 3px; }
.ui-slider-horizontal .ui-slider-handle { top: -10px; margin-left: -10px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html{
	font-family: 'petersburgcitalic';
	font-size: 15px;
}

input, textarea{
	font-family: arial, sans-serif;
	font-size: 16px;
}

:focus{
	outline: none !important;
}

.futura{
	font-family: 'futurafuturiscmedium';
}

a{
	color: #000;
	cursor: pointer;
}

.cw{
	position: relative;
	margin: 0 auto;
	width: 1240px;
}

.phone .cw{
	width: 280px;
}

.w240{
	width: 240px !important;
}
.w280{
	width: 280px !important;
}
.w580{
	width: 580px !important;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}


html{
	background: #000;
}

header, #main{
	background: #fff;
}

header{
	text-align: center;
	height: 79px;
	border-bottom: 1px solid #dedddc;
	line-height: 21px;
}

header .l{
	float: left;
	padding-top: 30px;
	font-size: 15px;
}

header .r{
	float: right;
	padding-top: 30px;
	font-size: 13px;
}

header .topmenu{
	display: inline-block;
	position: relative;
	height: 21px;
	width: 25px;
	margin-right: 15px;
}

header .topmenu .button{
	width: 25px;
	height: 21px;
	display: inline-block;
	background: url(../img/icon-menu.png) no-repeat center center;
}

header .topmenu.profile{
	margin-right: 0;
}

header .topmenu.profile .button{
	height: 23px;
	background: url(../img/icon-menu-profile.png) no-repeat center center;
}

header .topmenu .menu-container{
	position: absolute;
	background: url(../img/icon-corner.png) no-repeat 15px 14px;
	padding-top: 30px;
	top: 19px;
	left: 0;
	z-index: 1;
	display: none;
}

header .topmenu.profile .menu-container{
	position: absolute;
	background: url(../img/icon-corner-r.png) no-repeat 15px 14px;
	padding-top: 30px;
	top: 19px;
	right: 0;
	z-index: 1;
	display: none;
}

body > .menu-container{
	position: absolute;
	top: 64px;
	left: 0;
	width: 100%;
	z-index: 1;
	display: none;
}

body > .menu-container .menu a{
	float: none;
	width: auto;
	text-align: center;
	margin: 0;
}

.menu-container .menu{
	background: #000;
	padding: 35px 35px 35px 30px;
	width: 570px;
}

body > .menu-container .menu{
	width: auto;
	padding: 30px 0;
}

body > .menu-container .menu hr{
	border-color: #333;
}

body > .menu-container i{
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	background: url(../img/icon-corner.png) no-repeat center center;
}

body > .menu-container i.r{
	background: url(../img/icon-corner-r.png) no-repeat center center;
}

body > .menu-container.profile .menu{
	padding: 22px 0;
}

body > .menu-container.profile a{
	line-height: 40px;
}

.menu-container .menu,
.menu-container .menu a{
	color: #fff;
}

.menu-container .menu a{
	display: block;
	float: left;
	width: 280px;
	line-height: 30px;
	margin-left: 5px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}


.phone header .cw,
.phone header .topmenu{
	position: static;
}

.phone header .topmenu .menu-container{
	top: 80px;
	left: 0;
	width: 100%;
}


header .logo{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -107px;
	width: 215px;
	height: 75px;
	border-top: 5px solid #000;
	background: url(../img/ideasdesign-logo.png) no-repeat center center;
}

.phone header .logo{
	width: 160px;
	margin-left: -80px;
	background: url(../img/ideasdesign-logo-phone.png) no-repeat center 27px;
}

header a,
.menu-container a{
	text-decoration: none;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 14px;
}

header .lang{
	border-right: 1px solid #dedddc;
	padding-right: 10px;
	margin-right: 10px;
}

header .lang a{
	font-family: 'petersburgcitalic';
	text-transform: none;
}

header .lang a.active{
	color: #999;
}

header .l nav a{
	display: inline-block;
	margin: 0 15px;
}

header .r nav a,
header .lang a{
	display: inline-block;
	margin: 0 10px;
}
header .r nav a:last-child{
	margin-right: 0;
}

#main{
	padding-bottom: 60px;
	overflow: hidden;
}

.phone #main{
	padding-bottom: 45px;
}

.blog-list{
	position: relative;
	margin: 40px -20px;
}

.social-block{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px;
	border: 2px solid #000;
	margin-bottom: 40px;
}

.social-block .header{
	height: 30px;
	background: url(../img/ideasdesign-logo-small.png) no-repeat center center;
	border-bottom: 2px solid #000;
}

.social-block .footer{
	padding: 10px;
	border-top: 1px solid #aaa;
}

.social-block .footer .fl{
	padding-top: 5px;
}

a.rss{
	display: inline-block;
	background: url(../img/icon-rss.png) no-repeat left center;
	padding-left: 30px;
	line-height: 30px;
	color: #343838;
	font-size: 14px;
}

.blog-list .item,
.blog-list .stamp{
	display: block;
	float: left;
	width: 280px;
	text-align: center;
	margin: 0 20px 40px;
	line-height: 1.2;
}

.blog-list .stamp{
	float: right;
}

.blog-list .item.big{
	width: 600px;
}

.blog-list .item .image{
	overflow: hidden;
	width: 100%;
	height: 280px;
	position: relative;
	margin-bottom: 10px;
}

.blog-list .item.big .image{
	height: 400px;
}

.blog-list .item .image .img{
	display: inline-block;
	max-height: 100%;
}

.blog-list .author{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.blog-list .image:hover .author{
	display: block;
}

.blog-list .author a{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding-top: 70px;
}

.blog-list .item.big .author a{
	padding-top: 130px;
}

.author .avatar{
	display: inline-block;
	border-radius: 60px;
	overflow: hidden;
	border: 4px solid #fff;
	margin-bottom: 5px;
}

img.profile-small{
	display: inline-block;
	border-radius: 45px;
	overflow: hidden;
	margin-right: 15px;
	margin-top: -10px;
	vertical-align: -15px;
	width: 40px;
	height: auto;
}

img.profile-medium{
	display: inline-block;
	border-radius: 65px;
	overflow: hidden;
	margin-right: 15px;
	width: 60px;
	height: auto;
}


.author a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.author .name{
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
}

.blog-list a{
	text-decoration: none;
}

.blog-list .item .category{
	font-size: 16px;
	margin-bottom: 14px;
	color: #343838;
}

.blog-list .item .title{
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 10px;
}

.blog-list .item .meta,
.blog-item .item-header .meta{
	display: inline-block;
	border-top: 1px solid #dedddc;
	text-align: center;
	padding-top: 10px;
}

.blog-list .item .meta .b,
.blog-item .item-header .meta .b{
	display: inline-block;
	color: #999;
	font-size: 13px;
	border-left: 1px solid #dedddc;
	margin-right: 5px;
	line-height: 21px;
}

.blog-list .item .meta .b:first-child,
.blog-item .item-header .meta .b:first-child{
	border-left: 0;
}

.blog-list .item .meta .b.likes,
.blog-item .item-header .meta .b.likes{
	background: url(../img/icon-meta-likes.png) no-repeat 10px 0;
	padding-left: 31px;
}
.blog-list .item .meta .b.comments,
.blog-item .item-header .meta .b.comments{
	background: url(../img/icon-meta-comments.png) no-repeat 10px 4px;
	padding-left: 31px;
}
.blog-list .item .meta .b.views,
.blog-item .item-header .meta .b.views{
	background: url(../img/icon-meta-views.png) no-repeat 10px 5px;
	padding-left: 31px;
}

.phone .blog-list .advert-block{
	margin: 0 20px 40px;
}

.blog-list .hasmore{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background: url(../img/gradient-white.png) repeat-x 0 0;
	z-index: 1;
	text-align: center;
}

.hasmore a.loadmore{
	margin-top: 160px;
}

a.loadmore{
	display: inline-block;
	text-decoration: none;
	padding-top: 40px;
	background: url(../img/icon-bigplus.png) no-repeat center top;
	font-size: 16px;
	color: #343838;
}


.authors{
	margin: 0 -20px 40px;
}


.authors .author{
	float: left;
	width: 280px;
	margin: 0 20px 40px;
	text-align: center;
}

.authors .author a{
	color: #000;
}

.authors .author .company{
	color: #343838;
}

.mb40{
	margin-bottom: 40px;
}
.mb60{
	margin-bottom: 60px;
}



footer{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 40px 0;
}

footer a{
	color: #fff;
}

footer .socials{
	margin-bottom: 20px;
}

footer .socials a{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 15px;
}

footer .socials .facebook{
	background: url(../img/icon-facebook.png) no-repeat center center;
}

footer .socials .twitter{
	background: url(../img/icon-twitter.png) no-repeat center center;
}

footer .socials .instagram{
	background: url(../img/icon-instagram.png) no-repeat center center;
}

footer .logo{
	display: inline-block;
	width: 215px;
	height: 40px;
	background: url(../img/ideasdesign-logo-white.png) no-repeat center center;
}

footer nav{
	margin-bottom: 10px;
}

footer nav a{
	color: #fff;
	text-decoration: none;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 15px;
}

footer .lang{
	font-size: 12px;
	color: #666;
	margin: 10px 0 20px;
}

footer .lang a{
	font-family: 'petersburgcitalic';
	text-transform: none;
	text-decoration: none;
}

footer .lang a.active{
	color: #999;
}

footer .lang a{
	display: inline-block;
	margin: 0 10px;
}


a.top{
	display: inline-block;
	padding-top: 25px;
	background: url(../img/icon-arrow-up-white.png) no-repeat center 0;
	margin-top: 20px;
}


.profile #main{
	padding-top: 100px;
	text-align: center;
	font-family: arial, sans-serif;
}

h2{
	font-weight: normal;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 27px;
	line-height: 1.2;
	margin: 0 0 30px;
}

.profile .field{
	border-top: 1px solid #dedddc;
	padding: 0;
	text-align: left;
}

.profile .actions{
	border-top: 1px solid #dedddc;
	padding-top: 20px;
	margin-bottom: 20px;
}

.profile .email-block{
	text-align: left;
	margin-bottom: 20px;
}

.profile input.txt,
.profile textarea.txt{
	border: 0;
	padding: 15px 0;
	width: 240px;
}

.profile .w580 input.txt,
.profile .w580 textarea.txt{
	width: 580px;
}

.profile textarea{
	resize: none;
	height: 90px;
}

a.email{
	background: url(../img/icon-email.png) no-repeat left center;
	padding-left: 30px;
	text-decoration: none;
}

.profile .btn.submit{
	display: block;
	padding: 15px;
	background: #000;
	color: #fff;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.profile .facebook-connect{
	margin-bottom: 20px;
}

.profile .facebook-connect .btn{
	display: block;
	padding: 15px;
	background: #3b5998;
	color: #fff;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 14px;	
	text-decoration: none;
}

div.text{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #999;
	margin: 0 0 15px 0;
}

.text.error{
	color: #f00;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

[disabled]{
	background: #fff url(../img/icon-lock.png) no-repeat right center;
	padding-right: 20px;
}

.profile .avatar{
	margin-bottom: 15px;
}

.columns{
	margin: 0 -20px;
}

.col{
	float: left;
	margin: 0 20px;
}

.col-main{
	width: 600px;
}

.phone .col-main{
	width: 280px;
}

.col-middle,
.col-right{
	width: 280px;
}

.blog-item{
	margin-top: 40px;
}

.author-info{
	margin-top: 40px;
}

.blog-item .item-header{
	text-align: center;
	margin-bottom: 40px;
}

.blog-item .item-header .category a{
	text-decoration: none;
	font-size: 16px;
}

.blog-item .item-header .title,
.blog-item .item-header .title a{
	text-decoration: none;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 36px;
}

.phone .blog-item .item-header .title,
.phone .blog-item .item-header .title a{
	font-size: 30px;
}

.blog-item > .comments{
	background: #e2e5e8;
	padding: 20px;
}

.blog-item > .comments .title{
	font-family: 'futurafuturiscmedium';
	font-size: 15px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 20px;
}

.phone .blog-item > .comments .title{
	text-align: center;
}

.blog-item .item-content{
	font-family: georgia, serif;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}

.blog-item .item-content p{
	margin: 20px 0;
}

.blog-item .item-content img{
	display: inline-block;
	max-width: 100%;
}

blockquote{
	font-family: 'petersburgcitalic';
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	background: url(../img/line280.png) no-repeat center 0, url(../img/line280.png) no-repeat center bottom;
}

.phone blockquote{
	margin: 1em 0;
}

.blog-item .meta-bottom{
	margin-bottom: 40px;
}

.blog-item .meta-bottom .l{
	float: left;
}

.blog-item .meta-bottom .r{
	float: right;
}

.blog-item .like{
	display: block;
	background: #000;
	line-height: 40px;
	overflow: hidden;
	text-decoration: none;
}

.blog-item .like .label{
	display: block;
	float: left;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	color: #fff;
	padding: 0 15px 0 20px;
}

.phone .blog-item .like .label{
	width: 178px;
}

.blog-item .like .count{
	display: block;
	float: left;
	width: 67px;
	height: 40px;
	background: url(../img/likes-count-bg.png) no-repeat right 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #6d7073;
}


.blog-item .shares{
	margin-left: -10px;
	margin-bottom: 40px;
}

.phone .blog-item .shares{
	margin-bottom: 10px;
}

.blog-item .shares a{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin-left: 10px;
}

.shares .facebook{
	background: url(../img/share-facebook.png) no-repeat 0 0;
	width: 140px;
}

.shares .twitter{
	background: url(../img/share-twitter.png) no-repeat 0 0;
	width: 150px;
}

.phone .blog-item .shares a{
	margin-bottom: 10px;
}

.shares .google{
	background: url(../img/share-google.png) no-repeat 0 0;
	width: 140px;
}

.shares .vk{
	background: url(../img/share-vk.png) no-repeat 0 0;
	width: 140px;
}


.phone .shares .facebook{
	background: url(../img/share-facebook-phone.png) no-repeat 0 0;
	width: 130px;
}

.phone .shares .twitter{
	background: url(../img/share-twitter-phone.png) no-repeat 0 0;
	width: 140px;
}

.phone .shares .google{
	background: url(../img/share-google-phone.png) no-repeat 0 0;
	width: 130px;
}

.phone .shares .vk{
	background: url(../img/share-vk-phone.png) no-repeat 0 0;
	width: 140px;
}

.blog-item .shares a .count{
	display: block;
	float: right;
	width: 55px;
	margin-right: 5px;
	text-align: center;
	color: #6d7073;
}

.comment-area{
	background: url(../img/comments-l.png) no-repeat 0 0;
	padding-left: 16px;
}

.comment-area textarea{
	resize: none;
	height: 90px;
	width: 457px;
	padding: 5px;
	background: #fff;
	border: 1px solid #cbcfd1;
	border-left: 0;
}

.comment-area{
	background: transparent;
	padding-left: 0;
}

.phone .comment-area textarea{
	display: block;
	width: 228px;
	border: 1px solid #cbcfd1;
}

.comments .actions{
	padding-top: 20px;
	margin-bottom: 20px;
}

.comments .btn.submit{
	display: inline-block;
	padding: 15px;
	background: #000;
	color: #fff;
	font-family: 'futurafuturiscmedium';
	text-transform: uppercase;
	font-size: 14px;	
}

.comment{
	margin-bottom: 20px;
}

.comment .l{
	float: left;
	width: 80px;
}

.comment .r{
	float: right;
	width: 467px;
}

.phone .comment .r{
	width: auto;
	float: none;
}

.comment .meta{
	font-size: 12px;
	color: #999;
	margin-bottom: 8px;
}

.comment .meta .b{
	float: left;
	border-left: 1px solid #bdbfc0;
	margin-right: 5px;
	padding-left: 5px;
}

.comment .meta .b:first-child{
	border-left: 0;
	padding-left: 0;
}

.comment .meta .name{
	color: #333;
}

.comment .txt{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #333;
}




.author-info{
	width: 200px;
	background: #e2e5e8;
	padding: 20px;
	margin-bottom: 20px;
}

.phone .author-info{
	width: 240px;
	margin-top: 24px;
}

.author-info .author{
	text-align: center;
}

.author-info .author .avatar{
	border: 0;
}

.author-info .desc{
	font-family: georgia, serif;
	font-size: 12px;
	margin-top: 20px;
}

.col-middle .tags{
	width: 240px;
}

.tags a{
	display: inline-block;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 1px solid #999;
	border-radius: 20px;
	padding: 0 15px;
	line-height: 28px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.icon, .gallery .li .play { width: 20px; height: 20px; position: relative; background-repeat: no-repeat; display: block; }

.icon-hover, .fancybox-type-html .fancybox-close:hover, .object-bn .prev:hover .icon, .object-bn .prev:hover .gallery .li .play, .gallery .li .object-bn .prev:hover .play, .object-bn .next:hover .icon, .object-bn .next:hover .gallery .li .play, .gallery .li .object-bn .next:hover .play, .object-title .address a:hover .icon, .object-title .address a:hover .gallery .li .play, .gallery .li .object-title .address a:hover .play, .object-title .link a:hover .icon, .object-title .link a:hover .gallery .li .play, .gallery .li .object-title .link a:hover .play { background-position: 0 -100px; }

.side-menu { right: 0; top: 120px; position: fixed; z-index: 90; }
.side-menu .li { position: relative; }
.side-menu .link { width: 60px; height: 60px; cursor: pointer; background: #000; }
.side-menu .link a { height: 100%; display: block; }
.side-menu .link .icon, .side-menu .link .gallery .li .play, .gallery .li .side-menu .link .play { left: 20px; top: 20px; }
.side-menu .li-search .link .icon, .side-menu .li-search .link .gallery .li .play, .gallery .li .side-menu .li-search .link .play { background-image: url(../img/side-menu/search.png); }
.side-menu .li-facebook .link { background: #3b5998; }
.side-menu .li-facebook .link .icon, .side-menu .li-facebook .link .gallery .li .play, .gallery .li .side-menu .li-facebook .link .play { background-image: url(../img/side-menu/facebook.png); }
.side-menu .li-share .link .icon, .side-menu .li-share .link .gallery .li .play, .gallery .li .side-menu .li-share .link .play { background-image: url(../img/side-menu/share.png); }
.side-menu .search { width: 0; right: 60px; top: 0; position: absolute; z-index: 2; display: none; }
.side-menu .search .tinput { width: 100%; overflow: hidden; }
.side-menu .search .tinput input { width: 240px; padding: 17px 20px 16px; border-bottom: 5px solid #000; border-width: 0 0 5px;}
.side-menu .search .button { top: 0; right: -60px; position: absolute; }
.side-menu .search .button button { width: 60px; height: 60px; padding: 0; background: #000; border: 0; }
.side-menu .search .button .icon, .side-menu .search .button .gallery .li .play, .gallery .li .side-menu .search .button .play { left: 20px; top: 20px; position: absolute; background-image: url(../img/side-menu/search.png); }
.side-menu .share { width: 0; overflow: hidden; right: 60px; top: 0; position: absolute; display: none; }
.side-menu .share .share-li { cursor: pointer; display: table-cell; }
.side-menu .share .icon, .side-menu .share .gallery .li .play, .gallery .li .side-menu .share .play { width: 60px; height: 60px; }
.side-menu .share .share-facebook { background: #3b5998; }
.side-menu .share .share-facebook .icon, .side-menu .share .share-facebook .gallery .li .play, .gallery .li .side-menu .share .share-facebook .play { background-image: url(../img/side-menu/share-facebook.png); }
.side-menu .share .share-vkontakte { background: #3f5d81; }
.side-menu .share .share-vkontakte a { display: block !important; }
.side-menu .share .share-vkontakte .icon, .side-menu .share .share-vkontakte .gallery .li .play, .gallery .li .side-menu .share .share-vkontakte .play { background-image: url(../img/side-menu/share-vkontakte.png); }
.side-menu .share .share-twitter { background: #55acee; }
.side-menu .share .share-twitter .icon, .side-menu .share .share-twitter .gallery .li .play, .gallery .li .side-menu .share .share-twitter .play { background-image: url(../img/side-menu/share-twitter.png); }
.side-menu .share .share-li:hover { }
.side-menu .li.hover .search, .side-menu .li.hover .share { display: block; }
.side-menu .link:hover, .side-menu .li.hover .link { }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (max-width: 1250px){
	.cw{
		width: 920px;
	}
	.phone .cw{
		width: 280px;
	}

	.author-info{
		width: 240px;
	}
	.phone .author-info{
		width: 240px;
	}
	.col-middle .tags{
		width: 280px;
	}
}



@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}